/* Estilo geral */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #4d4d4d;
  color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

a {
  color: #77ff5f;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #00ff22;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* Estilos CSS para a tabela */
table {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  border-bottom:2px solid #fff;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #4f4f4f;
  font-weight: bold;
}

td {
  font-weight: normal;
}

tr:hover {
  background-color: #9c9c9c;
}
/* Estilos adicionais */
.caixa {
  padding: 15vh; 
  background-color: #737373;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  text-shadow: 0 0 10px rgb(0, 0, 0);
  border-radius: 20px;
}

.voltar {
  color: #84fad3;
  font-weight: 600;
}

.excluir{
  color: rgb(237, 96, 96);
  font-weight: 600;
}

.alterar{
  color: #9be2f8;
  font-weight: 600;
}